@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 34px;
}

main {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0px;
}

.page-title {
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.mar-bottom {
    margin-bottom: 117px;
}

/*/\--------------------App---------------------/\*/
/*\/--------------------Home---------------------\/*/

.container-movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 11px;
}

.movie {
    width: 145px;
    height: 209px;
    margin-bottom: 11px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 10%);
    padding: 8px;
}

.movie > img {
    width: 100%;
    height: 100%;
}

/*/\--------------------Home---------------------/\*/
/*\/--------------------Movie Session---------------------\/*/

.session {
    font-size: 20px;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0px;
}

.hour {
    width: max-content;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #E8833A;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 8px 0px;
}

.link {
    text-decoration: none;
}

/*/\--------------------Movie Session---------------------/\*/
/*\/--------------------Footer---------------------\/*/

footer {
    padding: 14px 10px;
    display: flex;
    background-color: #DFE6ED;
    width: 100%;
    height: 117px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.movie-bottom {
    width: 64px;
    height: 89px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 10%);
    padding: 8px;
    background-color: #ffffff;
}

.movie-bottom > img {
    width: 100%;
    height: 100%;
}

.order {
    font-size: 26px;
    margin: auto 0px auto 22px;
    line-height: 30px;
}

/*/\--------------------Footer---------------------/\*/
/*\/--------------------Seat---------------------\/*/

.subtitle{
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
}

.seats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc (100% - 30px);
    margin: 0px auto;
}

.seat {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #C3CFD9;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 8px 0px;
    font-size: 11px;
}

.selected {
    background-color: #8DD7CF;
    border: 1px solid #489189;
}

.available {
    background-color: #C3CFD9;
    border: 1px solid #777d83;
}

.unavailable {
    background-color: #FBE192;
    border: 1px solid #eeb300;
}

.botao {
    width: max-content;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #E8833A;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.box-data{
    width: 327px;
    height: 51px;
    margin-bottom: 10px;
    border: 1px solid #D5D5D5;
    
}

/*/\--------------------Seat---------------------/\*/
/*\/--------------------Success---------------------\/*/

.info{
    margin-top: 25px;
}

.h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.p{
    font-size: 20px;
}

.but {
    padding: 8px 16px;
    width: max-content;
    border-radius: 3px;
    background-color: #E8833A;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 0px;
}

/*/\--------------------Success---------------------/\*/